.orders-control {
  text-align: center;
  padding: 0.5rem;
}

.orders-control button {
  font: inherit;
  border: none;
  background: transparent;
  color: black;
  padding: 0.25rem 3rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.orders-control button.active {
  border-bottom-color: blueviolet;
  color: blueviolet;
}
